*{
    padding: 0;
    margin: 0;
}
body{
    padding-top: 50px;
}
ul{
    list-style: none;
}
#container-footer{
    margin-top: 50px;
    width: 301px;
    /*background: #2aabd2;*/
    text-align: center;
    font-size: 12px;
}
#container-footer ul{
    width: 301px;
}
#container-footer li{
    float: left;
    padding:0 10px;
    position: relative;
}
#container-footer li:nth-child(1){
    padding-left: 0;
}
#container-footer li:nth-child(3)::after{
    content: '';
    width: 0;
}
#container-footer li::after{
    content: '';
    background: #6b6b6b;
    width: 1px;
    height: 14px;
    position: absolute;
    right: -1px;
    top:50%;
    margin-top:-7px;
}
